/* Navbar Container */
nav {
  background: linear-gradient(90deg, #005b9a, black);
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navbar List */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

/* Navbar Links */
nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: black; 
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
  background-color: aqua;
  border-radius: 10px; 
}


nav ul li a:hover {
  color: black; 
  background-color:rgb(255, 73, 73); 
  border-radius: 4px;
  transform: scale(1.1);
}

/* Responsive Navbar */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-bottom: 0.5rem;
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Adjust the size as needed */
  height: auto;
  margin-right: 10px;
}

.app-name {
  font-size: 1.5rem; /* Adjust the font size as needed */
  font-family: 'Arial', sans-serif; /* You can change the font family to something you prefer */
  color: #fff; /* Adjust the color as needed */
}

